body{
    margin-left: 70px;
    margin-right: 50px;
    margin-top: 120px;
    margin-bottom: 0px;
    overflow: scroll;
    background-image: url(cukup.png);
    background-size: 100%;
}

p{
    text-indent: 30px;
    text-align: justify;
    font-size:  90%;

}